.p-button.main-button {
  background-color: var(--text-primary);
  color: var(--background-primary);
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.p-button.outline-button {
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.p-button.delete-button {
  background-color: #ef5350;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

button.p-button.main-button:hover {
  background-color: var(--text-secondary);
  border-color: var(--border-color);
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

button.p-button.outline-button:hover {
  background-color: transparent;
  color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

button.p-button.delete-button:hover {
  background-color: #e57373;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

button.p-button.accent-button:hover {
  background-color: var(--accent-primary);
  border-color: var(--accent-secondary);
}

.p-button.auth-accent-button {
  background-image: linear-gradient(
    to right,
    var(--accent-primary) 0%,
    var(--accent-secondary) 51%,
    var(--accent-primary) 100%
  );
}

.p-button.auth-accent-button {
  text-align: center;
  transition: 1s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

button.p-button.auth-accent-button:hover {
  background-position: right center;
  color: white;
  text-decoration: none;
}

.p-dialog.rounded-dialog {
  border-radius: 20px;
  padding: 0.33rem;
}

.p-popover.rounded-popover {
  border-radius: 20px;
  padding: 0.33rem;
}

body:has(.p-drawer-mask) {
  overflow: hidden !important;
}
