services:
  db:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wealth-warden

  app:
    build:
      context: ../..
      dockerfile: ./build/Dockerfile
    #command: ["http"]
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "2000:2000"
    volumes:
      - ../../logs:/app/logs
      - ../../pkg/config/environment.yaml:/app/pkg/config/environment.yaml
      - ../../.seeder.credentials:/app/.seeder.credentials
    networks:
      - wealth-warden

volumes:
  db:

networks:
  wealth-warden: