.auth-background{
  background: var(--p-slate-600);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-card{
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  background: var(--p-slate-100);
  width: 350px;
  padding: 30px;
  height: min-content;
  margin: 0 auto;
  border-radius: 20px;
  z-index: 2;
}

.auth-button{
  background: #C3181D;
  border-color: #D65B5F;
  color: white;
  border-radius: 15px;
  line-height: 1;
}

.auth-button:hover{
  background: #D65B5F;
  cursor: pointer;
}

.auth-link-text{
  color: #707070;
  text-decoration: underline;
}

.auth-link-text:hover{
  color: #C3181D;
  cursor: pointer;
}

.auth-animation-enter-active,
.auth-animation-leave-active {
  transition: opacity 1s ease;
}

.auth-animation-enter-from,
.auth-animation-leave-to {
  opacity: 0;
}