@import 'material-icons/iconfont/material-icons.css';
@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans-Medium.ttf') format('ttf'),
  url('../assets/fonts/FiraSans-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


:root {
  font-family: 'Fira Sans', sans-serif;
  --background-primary: var(--p-gray-50);
  --background-secondary: var(--p-slate-200);
  --text-primary: var(--p-neutral-950);
  --accent-primary: var(--p-blue-600);
  --sidebar-width: 300px;
}

.my-app-dark {
  --background-primary: var(--p-gray-950);    /* or any other dark-friendly value */
  --background-secondary: var(--p-slate-800);
  --text-primary: var(--p-neutral-100);
  --accent-primary: var(--p-blue-400);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

