@import 'material-icons/iconfont/material-icons.css';
@import 'primeicons/primeicons.css';


:root {
  --background-primary: var(--p-gray-50);
  --background-secondary: var(--p-slate-200);
  --text-primary: var(--p-neutral-950);
  --accent-primary: var(--p-blue-600);
  --border-color: var(--p-slate-200);
  --sidebar-width: 300px;
}

.my-app-dark {
  --background-primary: var(--p-gray-950);    /* or any other dark-friendly value */
  --background-secondary: var(--p-slate-800);
  --text-primary: var(--p-neutral-100);
  --accent-primary: var(--p-blue-400);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.7rem;
}

.hover_icon:hover {
  transform: scale(1.05);
  cursor: pointer;
}

