.p-button.main-button{
  background-color: var(--text-primary);
  color: var(--background-primary);
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.p-dialog.rounded-dialog{
  border-radius: 20px;
  padding: 0.33rem;
}

.p-popover.rounded-popover{
  border-radius: 20px;
  padding: 0.33rem;
}

button.p-button.main-button:hover {
  background-color: var(--text-secondary);
  border-color: var(--border-color);
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

button.p-button.accent-button:hover {
  background-color: var(--accent-primary);
  border-color: var(--accent-secondary);
}