name: "Run Server Tests"

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'deployments/**'
      - '*.md'
      - 'client/**'
    branches:
      - main
      - development
      - testing/**
  workflow_dispatch:

  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'deployments/**'
      - '*.md'
      - 'client/**'
    branches:
      - main
    types: [ opened, synchronize ]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Start test services
        run: docker compose -f deployments/docker/docker-compose.test.yaml up -d

      - name: Wait for PostgreSQL
        run: |
          timeout 30 bash -c 'until docker compose -f deployments/docker/docker-compose.test.yml exec -T postgres-test pg_isready; do sleep 1; done'

      - name: Install dependencies
        run: go mod download

      - name: Run tests with coverage
        run: |
          make test